@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
}

.main_page {
    display: grid;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    color: aquamarine;
}

h3 {
    color: cornflowerblue;
}